@tailwind base;
@tailwind components;
@tailwind utilities;
:root{
  --purple:#633CFF;
  --purple-active:#BEADFF;
  --purple-light:#EFEBFF;
  --black: #333333;
  --light-black: #737373;
  --disabled-black: #D9D9D9;
  --light-gray: #FAFAFA;
  --red: #FF3939;
  --white:#ffffff;
}

*{
  box-sizing:border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  color: var(--black);
}
body{
  background-color: var(--light-gray);
}
.active > div{
  color: var(--purple) !important;
}